* {
    user-select: none;
}

@font-face {
    font-family: "851テガキカクット";
    src: url(./assets/851H-kktt_004.ttf);
}

body {
    background: whitesmoke;
}

p {
    margin: 0px 2px;
}

.item_name {
    font-size: 0.8em;
    color: lightslategrey;
    margin-bottom: 2px;
}

.module {
    background: white;
    border-radius: 4px;
    margin: 8px 0px;
    padding: 8px;
}

.time_display {
    font: 1.2em "851テガキカクット", "arial";
}

.graph {
    position: relative;
    margin: auto;
    height: 20px;
    padding: 2px;
    border: 1px solid lightblue;
    white-space: nowrap;
}

.graph_bar {
    display: inline-block;
    height: 20px;
    margin: auto;
}

.elapsed_time_bar {
    width: 0%;
    background: lightblue;
    transition: all 10ms 0s linear;
}

.remaining_time_bar {
    float: right;
    width: 100%;
    background: white;
    transition: all 10ms 0s linear;
}

.graph_label {
    position: relative;
    top: 2px;
    font: 1.2em "851テガキカクット", "arial";
}

.elapsed_time {
    margin: auto;
    position: absolute;
    left: 4px;
}

.remaining_time {
    margin: auto;
    position: absolute;
    right: 4px;
}

#gap_time {
    position: relative;
    left: 2px;
    font-size: 1.5em;
}

#section_time_graph {
    margin: 8px auto;
}

#part_time_graph {
    margin-top: 8px;
}


#pause_button {
    position: fixed;
    height: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: limegreen;
    transition: all 200ms 0s ease-out;
}

#pause_button_image {
    position: relative;
    width: 50px;
    height: 50px;

    margin: 15px auto;
}


#pause_button_image_left, #pause_button_image_right {
    position: absolute;
    transition: all 200ms 0s ease;
}
#pause_button_image_left {
    left: 0px;
}
#pause_button_image_right {
    right: 0px;
}

#pause_button_image_left.play {
    top: 0px;
    width: 0px;
    height: 24px;
    border-left: 25px solid ghostwhite;
    border-top: 13px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 13px solid transparent;
}
#pause_button_image_right.play {
    top: 13px;
    width: 0px;
    height: 0px;
    border-left: 25px solid ghostwhite;
    border-top: 12px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 12px solid transparent;
}

#pause_button_image_left.pause, #pause_button_image_right.pause {
    top: 0px;
    width: 0px;
    height: 50px;
    border-left: 16px solid ghostwhite;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
